<% include header %>
<% include ../flashError %>
<div role="main">
    <div class="row">
        <section class="twelve columns">
            <article class="post-112 page type-page status-publish hentry post" id="post-112">
                <div class="post-content">
                    <div id="" class="row vc_row-fluid ">
                        <div class="medium-12 small-12  columns ">
                            <aside class="gap cf" style="height:50px;"></aside>
                        </div>
                    </div><div id="" class="row vc_row-fluid ">
                        <div class="medium-4 hide-for-small  columns left-col">

                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h4>Like SuperSpeeding?</h4>
                                </div>
                            </div> <ul class="iconlist "><li> <i class="icon-budicon-478"></i>SuperSpeed USC, Los Angeles, CA 90089 USA</li></ul><ul class="iconlist "><li> <i class="icon-budicon-714"></i><span class="skype_c2c_print_container notranslate">+1 310 499 7700</span><span id="skype_c2c_container" class="skype_c2c_container notranslate" dir="ltr" tabindex="-1" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" data-numbertocall="+18062780181" data-isfreecall="false" data-isrtl="false" data-ismobile="false"><span class="skype_c2c_highlighting_inactive_common" dir="ltr" skypeaction="skype_dropdown"><span class="skype_c2c_textarea_span" id="non_free_num_ui"><img width="0" height="0" class="skype_c2c_logo_img" src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/call_skype_logo.png"><span class="skype_c2c_text_span">+1 806 278 0181</span><span class="skype_c2c_free_text_span"></span></span></span></span></li></ul><ul class="iconlist "><li> <i class="icon-budicon-713"></i>inquiry@SuperSpeed.com</li></ul>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h4></h4>
                                    <h4>Follow</h4>
                                    <p><a href="#" class="boxed-icon facebook icon-1x"><i class="icon-budicon-834"></i></a>&nbsp;<a href="#" class="boxed-icon twitter icon-1x"><i class="icon-budicon-841"></i></a>&nbsp;<a href="#" class="boxed-icon instagram icon-1x"><i class="icon-budicon-833"></i></a>&nbsp;<a href="#" class="boxed-icon pinterest icon-1x"><i class="icon-budicon-817"></i></a></p>

                                </div>
                            </div>
                        </div>

                        <div class="medium-8 small-12  columns right-col">
                            <div class="wpcf7" id="wpcf7-f12-p112-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form name="" action="/user/update/<%= user.id %>" method="post" class="wpcf7-form" >
                                    <input type="hidden" name="_csrf" value="<%- _csrf %>"/>
                                    <div class="row">
                                        <div class="small-12 medium-8">
                                            <label>Name</label><br>
                                            <span class="wpcf7-form-control-wrap your-firstname"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required full" aria-required="true" aria-invalid="false"></span>
                                        </div>
                                        <div class="small-12 medium-8">
                                            <label>E-mail</label><br>
                                            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required full" aria-required="true" aria-invalid="false"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <input type="submit" value="Edit" class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader" src="http://skillful.fuelthemes.net/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;">
                                        </div>
                                    </div>

                                    <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
<div style="height: 100%"></div>
<% include ../commons/footer %>