<form method="post" action="/user/update">
    <input type="hidden" name="_csrf" value="<%- _csrf %>" >
    <input type="text" name="name" placeholder="Full Name" /><br />
    <input type="password" name="password" placeholder="Password" /><br />
    <input type="submit" value="Update" />
</form>