<% include header %>
<div class="container">
    <div class="section s1">
        <div class="inner ">
            <h4>You have logged in as <u><%= user.email %></u></h4>
            <h5>Here the summary of your statistics -</h5>
            <canvas id="chart-area"
                    style="width:800px; height:800px;" />
            <script>

                var doughnutData = [
                    {
                        value: 300,
                        color:"#F7464A",
                        highlight: "#FF5A5E",
                        label: "Freezes"
                    },
                    {
                        value: 50,
                        color: "#46BFBD",
                        highlight: "#5AD3D1",
                        label: "BrainFreezes"
                    },
                    {
                        value: 20,
                        color: "#FDB45C",
                        highlight: "#FFC870",
                        label: "TeamUnfreezes"
                    },
                    {
                        value: 5,
                        color: "#949FB1",
                        highlight: "#A8B3C5",
                        label: "FlagsCaptured"
                    }

                ];

                window.onload = function(){
                    var ctx = document.getElementById("chart-area").getContext("2d");
                    window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});
                };



            </script>
        </div>
    </div>

</div>
<% include ../commons/footer %>