<% include ../../header %>
<!--TODO switch based on account-->
<div class="container">
    PAYPAL INFO
    <%= JSON.stringify(account) %>
    <% include deleteForm %>
</div>
<% include ../../../commons/footer %>