<footer id="footer" class="style1">
    <div class="row ">
        <div class="small-12 columns show-for-small toggle">
            <a href="#" id="footer-toggle"><i class="icon-budicon-512"></i></a>
        </div>
        <div class="small-12 medium-4 columns">
            <div id="text-2" class="widget cf widget_text">
                <h6>About Us</h6>

                <div class="textwidget">
                    <p>But to learn all about these recondite matters, your best way is at once to descend into the
                        blubber-room, and have a long talk with its inmates.</p>

                    <p>
                        <strong>Monday - Friday:</strong> 9.30am - 6pm<br>
                        <strong> Saturday:</strong> 9.30am - 12pm</p>

                    <p>
                        <a href="https://www.facebook.com/SuperSpeed" class="boxed-icon facebook icon-1x"><i
                                    class="icon-budicon-834"></i></a> <a href="https://www.twitter.com/SuperSpeed"
                                                                         class="boxed-icon twitter icon-1x"><i
                                    class="icon-budicon-841"></i></a> <a href="https://www.pintrest.com/SuperSpeed"
                                                                         class="boxed-icon pinterest icon-1x"><i
                                    class="icon-budicon-817"></i></a> <a href="#"
                                                                         class="boxed-icon instagram icon-1x"><i
                                    class="icon-budicon-833"></i></a> <a href="https://www.linkedin.com/SuperSpeed"
                                                                         class="boxed-icon linkedin icon-1x"><i
                                    class="icon-budicon-802"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>