<div class="container ">
    <div class="section sTop">
        <div class="inner">
            <h1 class="title">SuperSpeed</h1>

            <h5 class="subtitle">Done mainly on BluePrints. Voila!</h5><br/>
        </div>
    </div>
</div>
<% menu={"What":"#s1", "Why":"#s2","How":"#s3","Who":"#s4"} %>
<% include commons/header %>
<div class="row">
    <div class="section s1">
        <div class="inner">
            <h1>Section 1</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="section s2">
        <div class="inner">
            <h1>Section 2</h1>

            <p><a href="#s4" class="intLink">Internal Link: Jump to Section 4</a></p>

            <p><a href="#sTop" class="intLink">Internal Link: Back to Top</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="section s3">
        <div class="inner">
            <h1>Section 3</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="section s4">
        <div class="inner">
            <h1>Section 4</h1>
        </div>
    </div>

</div>
<% include commons/footer %>